body{
    min-width: 300px;
}
.intro{
    height: 600px;
}
.sec-two{
    height: 6000px;
    border-radius: 20px;
}
@media (min-width: 0px) {
    .hd-lg{
        font-size: calc(4rem + 1.5vw);
    }
  }
@media (min-width: 300px) {
    .hd-lg{
        font-size: calc(4rem + 1.5vw);
    }
  }
  @media (min-width: 768px) {
    .hd-lg{
        font-size: calc(4rem + 1.5vw);
    }
  }

.sec-two{
    background-color: #f08686;
    height: 200px;
}